<div class="background-container">
  <!-- Vídeo de fundo -->
  <video #videoElement class="background-video" muted loop autoplay playsinline preload="auto">
    <source src="../../assets/videos/Story-Cg-Privates-VIVA-Comercial.mp4" type="video/mp4">
    Seu navegador não suporta a tag de vídeo.
  </video>

  <!-- Conteúdo em primeiro plano -->
  <div class="content flex justify-content-center align-items-center h-screen relative">

    <!-- Botão para voltar -->
    <div class="absolute top-0 left-0 m-3">
      <p-button icon="pi pi-arrow-left" (onClick)="goBack()" styleClass="p-button-text p-button-rounded"></p-button>
    </div>

<div class="button-container flex flex-row align-items-center justify-content-center gap-5">
  <app-custom-button
    label="Galeria"
    (clicked)="onGalleryClick()"
    height="90px"
    width="210px">
  </app-custom-button>

  <app-custom-button
    label="Porque a Viva?"
    (clicked)="showDialog = true"
    height="90px"
    width="260px">
  </app-custom-button>
</div>




    <!-- Diálogo com o QR code -->
    <p-dialog [(visible)]="showDialog" [modal]="true" [dismissableMask]="true" [closable]="true"
              header="Sobre" [style]="{width: '320px'}" [baseZIndex]="10000">
      <div class="flex flex-column align-items-center justify-content-center p-4">
        <img [src]="qrCodeUrl" alt="QR Code" class="w-12rem h-12rem mb-3">
      </div>
    </p-dialog>

    <!-- QR Code de inscrição -->
    <div class="qr-code-signup">
      <img class="mb-4" [src]="'https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=https://www.google.com'" alt="QR Code">
      <p-button
  label="Faça seu cadastro!"
  class="p-button-primary mt-4 mb-2"
  [style]="{ backgroundColor: '#D7AF70', borderColor: '#D7AF70', color: '#fff' }">
</p-button>
    </div>

    <!-- Ícones sociais -->
    <div class="social-icons">
      <div class="qr-code-facebook fa-3x">
        <img class="mb-4" [src]="'https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=https://www.instagram.com/vivaeventoslondrina/'" alt="QR Code">
        <i class="fab fa-instagram mt-4"></i>
      </div>
    </div>
  </div>
</div>
