<div class="background-video flex align-items-center justify-content-center" (click)="onScreenClick()">
  <img src="../../assets/icons/viva_dourada (1).png" class="top-image" alt="Ícone">
  <video #videoElement muted loop autoplay playsinline preload="auto" width="720" height="1280">
    <source src="../../assets/videos/Story-Cg-Privates-VIVA-Comercial.mp4" type="video/mp4">
    Seu navegador não suporta a tag de vídeo.
  </video>
  <div class="centered-text">
    Toque para iniciar
  </div>
</div>
